@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.main__container {
  max-width: 100%;
  padding: 40px 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.about__container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary-color);
  border-radius: 15px;
}
.about__sub-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  margin-top: 20px;
}
.about__heading-container {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: var(--text-color);
}
.about__profile-container {
  width: 100%;
  object-fit: contain;
}
.about__profile-container img {
  width: 250px;
  border-radius: 50%;
  height: fit-content;
}
.text__container p {
  text-align: center;
  color: var(--text-color);
  line-height: 2;
  letter-spacing: 0.6px;
  white-space: pre-wrap;
}
@media (max-width: 768px) {
  .about__container {
    width: 80%;
  }
  .about__sub-container {
    flex-direction: column;
  }
  .about__profile-container {
    width: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
  }
  .about__profile-container img {
    width: 200px;
  }
  .text__container p {
    padding: 0 25px;
  }
}

@media (max-width: 360px) {
  .about__container {
    width: 90%;
  }
  .about__sub-container {
    flex-direction: column;
    padding: 10px 0;
  }
  .about__profile-container {
    width: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
  }
  .about__profile-container img {
    width: 200px;
  }
  .text__container p {
    padding: 0 25px;
  }
}
